@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-white text-center mt-5 mb-5 mw-100 h-auto rounded-3 d-flex justify-content-center align-items-center p-4">
@*    <h1 class="display-5 m-3">Welcome to </h1>
*@    
    <div class="flex-column mw-100">

        <div class="col mt-5 mb-1">
            <img src="/img/WSBANN.png" class="" height="256" width="498" alt="...">
        </div>       

        <div class="col d-flex mb-2 mx-3 justify-content-center align-items-center">
            <h1 class="mt-5 fw-bold text-black display-5" style="font-family:'Lucida Sans'">¡Comienza a Agregar, Editar y Eliminar tus productos desde la Web!</h1>
        </div>

        <div class="col d-flex mb-3 justify-content-center align-items-center">
            <a class=" btn-gradient shadow d-flex rounded h-auto w-auto justify-content-center align-items-center py-2 px-3" style="font-family:'Lucida Sans'; text-decoration:none" asp-area="" asp-controller="Productoes" asp-action="Index">
                    <span class="h2 mt-2 text-white fw-bold" style="font-family:'Lucida Sans'; text-decoration:none">Comenzar</span>
                    <i class="bi bi-arrow-right-circle text-white fa-2x mx-2"></i>
                </a>
            <img src="/img/WBSKNAV.png" class="mx-2" height="249" width="239" alt="...">
        </div>
    </div>
</div>
