<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViewStockNew.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViewStockNew.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ViewStockNew.Properties.Settings1>
            <setting name="database" serializeAs="String">
                <value>bvpghk30tjjalsdr4eel</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>uuszol3ba4e9gp4s</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>QYy2Uh4gTCyrWe5TsbBm</value>
            </setting>
        </ViewStockNew.Properties.Settings1>
    </userSettings>
    <applicationSettings>
        <ViewStockNew.Properties.Settings1>
            <setting name="server" serializeAs="String">
                <value>bvpghk30tjjalsdr4eel-mysql.services.clever-cloud.com</value>
            </setting>
        </ViewStockNew.Properties.Settings1>
    </applicationSettings>
</configuration>